.header {
  background-color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: fixed;
  width: 100%;
}
.header img {
  width: 50px;
}
.header a {
  margin-left: 5%;
  margin-right: 5%;
}

.nav {
  text-decoration: none;
  color: white;
  font-size: 150%;
}

.footer {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5%;
}
.footer p {
  color: white;
  font-size: 120%;
}
.footer div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2%;
}
.footer a {
  color: white;
  transform: scale(1.5);
  margin-left: 50%;
  margin-right: 50%;
}

.cart {
  margin-top: 5%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cart h6 {
  font-size: 140%;
  margin-top: 2%;
  margin-bottom: 5%;
  color: #211363;
  font-weight: bold;
  border-bottom: solid 2px #e5232c;
  width: 80%;
  text-align: center;
}
.cart section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3%;
  padding: 2%;
  width: 80%;
  box-shadow: 11px 15px 5px 0px rgba(0, 0, 0, 0.16);
}
.cart section img {
  width: 15%;
}
.cart button {
  font-size: 110%;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  margin-bottom: 2%;
  color: white;
  background-image: linear-gradient(to bottom, #ffd405, #e5232c);
  border: none;
  margin-top: 1%;
  cursor: pointer;
}
.cart a {
  text-decoration: none;
  font-size: 110%;
  color: black;
  margin-bottom: 2%;
}

.price {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 3%;
  padding: 2%;
  width: 80%;
  box-shadow: 11px 15px 5px 0px rgba(0, 0, 0, 0.16);
}
.price p {
  font-size: 110%;
  margin-bottom: 1%;
}

.buy {
  display: flex;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sectionBusqueda {
  background-image: linear-gradient(to bottom, #211363, #4A6AF0);
  padding: 3%;
  margin-top: 7%;
  margin-bottom: 2%;
  width: 80%;
}
.sectionBusqueda h3 {
  font-size: 170%;
  color: white;
  margin-bottom: 2%;
}
.sectionBusqueda input {
  width: 80%;
  height: 30px;
  text-align: center;
  cursor: pointer;
}
.sectionBusqueda button {
  font-size: 120%;
  color: white;
  background-image: linear-gradient(to bottom, #ffd405, #e5232c);
  border: none;
  margin-top: 1%;
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 1%;
  padding-bottom: 1%;
  cursor: pointer;
}

.inputButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.container {
  width: 85%;
}

#pelis {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  margin-top: 5%;
  margin-bottom: 5%;
}

.peliculas {
  display: flex;
  width: 550px;
  height: 300px;
  background-color: whitesmoke;
  padding: 2%;
  box-shadow: 11px 15px 5px 0px rgba(0, 0, 0, 0.16);
  margin-bottom: 2%;
}
.peliculas img {
  width: 30%;
  margin-right: 3%;
}
.peliculas img:hover {
  transform: scale(1.1);
}
.peliculas h6 {
  font-size: 110%;
}
.peliculas button {
  font-size: 110%;
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 3%;
  padding-bottom: 3%;
  color: white;
  background-image: linear-gradient(to bottom, #ffd405, #e5232c);
  border: none;
  margin-top: 1%;
  cursor: pointer;
}

.buy {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#title {
  font-size: 170%;
}

@media screen and (max-width: 800px) {
  .product {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
  }
  .peliculas {
    width: 90%;
  }
  .cart {
    width: 100%;
    margin-top: 20%;
  }
}

/*# sourceMappingURL=style.css.map */
