.cart {
    margin-top: 5%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;

    & h6 {
        font-size: 140%;
        margin-top: 2%;
        margin-bottom: 5%;
        color: #211363;
        font-weight: bold;
        border-bottom: solid 2px #e5232c;
        width: 80%;
        text-align: center;
    }

    & section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 3%;
        padding: 2%;
        width: 80%;
        box-shadow: 11px 15px 5px 0px rgba(0,0,0,0.16);
    }

    & section img {
        width: 15%;
    }

    & button {
        font-size: 110%;
        padding-left: 3%;
        padding-right: 3%;
        padding-top: 1.5%;
        padding-bottom: 1.5%;
        margin-bottom: 2%;
        color: white;
        background-image: linear-gradient(to bottom, #ffd405 , #e5232c);
        border: none;
        margin-top: 1%;
        cursor: pointer;
    }

    & a {
        text-decoration: none;
        font-size: 110%;
        color: black;
        margin-bottom: 2%;
    }
}
.price {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 3%;
    padding: 2%;
    width: 80%;
    box-shadow: 11px 15px 5px 0px rgba(0,0,0,0.16);

    & p {
        font-size: 110%;
        margin-bottom: 1%;
    }
}

.buy {
    display: flex;
    flex-direction: column;
}