.header {
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: fixed;
    width: 100%;

  & img {
    width: 50px;
}  
 & a {
    margin-left: 5%;
    margin-right: 5%;
 }
}

.nav {
    text-decoration: none;
    color: white;
    font-size: 150%;
}
