*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sectionBusqueda {
    background-image: linear-gradient(to bottom,  #211363, #4A6AF0);
    padding: 3%;
    margin-top: 7%;
    margin-bottom: 2%;
    width: 80%;
    
    & h3 {
        font-size: 170%;
        color: white;
        margin-bottom: 2%;
    }

    & input {
        width: 80%;
        height: 30px;
        text-align: center;
    }

    & button {
        font-size: 120%;
        color: white;
        background-image: linear-gradient(to bottom, #ffd405 , #e5232c);
        border: none;
        margin-top: 1%;
        padding-left: 8%;
        padding-right: 8%;
        padding-top: 1%;
        padding-bottom: 1%;
    }
}
.inputButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.product {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 85%;
}

.peliculas {
    display: flex;
    width: 45%;
    height: 20%;
    background-color: whitesmoke;
    padding: 2%;
    box-shadow: 11px 15px 5px 0px rgba(0,0,0,0.16);
    margin-bottom: 2%;

    & img {
        width: 30%;
        margin-right: 3%;
    }

    & div h5 {
        font-size: 150%;
    }

    & div h6 {
        font-size: 110%;
        margin-top: 2%;
        margin-bottom: 1%;
    }

    & button {
        font-size: 110%;
        padding-left: 8%;
        padding-right: 8%;
        padding-top: 3%;
        padding-bottom: 3%;
        color: white;
        background-image: linear-gradient(to bottom, #ffd405 , #e5232c);
        border: none;
        margin-top: 1%;
        cursor: pointer;
    }
}

.buy {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
